@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&family=Inter:wght@300;500;600&display=swap');
html,
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    
}

* {
    box-sizing: border-box;
    font-family: Inter;
    font-size: 16px;
    font-weight: 200;
    color: #222222;
  }
  
.font-size-10 {
    font-size: 10px;
}

.line-height-2 {
    line-height: 2em;
}

.background-green {
    background-color: #A4D164 !important;
}

.background-container {
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: -1;
}

.logo-background {
    display: flex;
}
.position-absolute > .left {
    margin-top: 10%;
}

.kanan {
    left: 0;
    margin-top: 10% !important;

}

.own-btn {
    background-color: #2EACE2 !important;
    color: white;
    border: none !important;
}

.own-btn-green {
    background-color: #A4D164 !important;
    color: white;
    border: none !important;
}

.margin-top {
    margin-top: 15%;
}
.margin-top {
    margin-top: 100px;
}

.title {
    color:  #2EACE2;
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    /* line-height: 50px; */
    letter-spacing: 0.3em;


}

.sub-title {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;

}

.color-black {
    color: black;
}

.container-question {
    margin-top: 100px;
    height: 600px;
}

.navigator {

}

.form-container {
    width: 570px;
    margin: auto
}

.error-message {
    font-size: .7em;
    color: red;
}

.question-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.question-container input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
	width: 100%;
}

.card-c {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.card-c:hover {
    cursor: pointer;
}

.card-c > img {
    width: 200px;
}

.question-unselected {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    opacity: .5;
}

.questtion-item {
    flex-basis: 30.33333%;
}

.slider-mb {
    margin-bottom: 200px;
}

.my-form-control {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0% !important;
    background-color: #fff0 !important;
}

.my-form-control:focus {
    box-shadow: none !important;
}

.responsive {
    max-height: 64px;
}

.responsive-label {
    display: block
}

.slider-text {
    font-size: 20px;
}

.background-line {
    display: block;
}

.text-answer {
    font-size: 16px;
    font-weight: 700;
}

@media only screen and (max-width: 768px) {

    .text-answer {
        font-size: 12px;
        font-weight: 700;
    }

    .responsive {
        max-height: 24px;
    }

    .responsive-label {
        display: none
    }

    .container-question {
        margin-top: 10px;
        height: 500px;
    }

    .title {
        font-size: 20px;
        letter-spacing: 0;
    }

    .questtion-item {
        flex-basis: 47%;
    }


    .card-c > img {
        width: 100px;
    }

    .slider-text {
        font-size: 10px;
    }

    .background-line {
        display: none;
    }
    

}
